@import 'src/styles/variables';
@import 'src/styles/mixins/breakpoints';

.x4 {
  &__ship-name {
    display: flex;
  }

  &__ship-row {
    td {
      vertical-align: middle;
    }
  }

  &__materials-list {
    font-size: 12px;
  }

  &__ship-image {
    display: block;
    max-width: 64px;
    margin-right: 1rem;
    position: relative;

    img {
      display: block;
      filter: brightness(2) contrast(1.1) saturate(1.2);
      border-radius: 10px;
    }
  }

  .unit-shifted {
    position: relative;
    right: -4px;
  }


  &__ship-description {
    position: absolute;
    top: 3px;
    right: 3px;
    color: black;
    cursor: pointer;
    background: white;
    width: 0.6rem;
    text-align: center;
    border-radius: 50%;
    font-size: 8px;
    font-weight: bold;
  }

  // TODO: Fix later
  .divider {
    margin: 0.6rem !important;
  }

}
