@import 'src/styles/variables';
@import 'src/styles/mixins/breakpoints';

.x4-ships {
  .label {
    &--row {
      font-size: 13px;

      input[type=checkbox] {
        height: 9px;
      }
    }

    &--small {
      width: 60px;
    }

    &--medium {
      width: 100px;
    }
  }

  &__equipment {
    display: flex;
    flex-wrap: wrap;
  }

  &__radio-group {
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    flex: 0 0 100%;

    @include media-breakpoint-up(md) {
      max-width: 325px;
      margin-right: 2rem;
    }

    p {
      flex: 0 0 100%;
    }

    label {
      font-size: 11px;
      margin: 0 0 3px 5px;
    }
  }

  &__table-wrapper {
    overflow-x: scroll;
  }

  table {
    min-width: 1700px;

    th {
      cursor: pointer;
    }

    td {
      vertical-align: middle;
      height: 80px;
    }
  }

  .unit-shifted {
    position: relative;
    right: -4px;
  }

  &__ship-name {
    display: flex;
  }

  &__materials-list {
    font-size: 12px;
  }

  &__ship-description {
    position: absolute;
    top: 3px;
    right: 3px;
    color: black;
    cursor: pointer;
    background: white;
    width: 0.6rem;
    text-align: center;
    border-radius: 50%;
    font-size: 8px;
    font-weight: bold;
  }

  &__ship-image {
    display: block;
    max-width: 64px;
    margin-right: 1rem;
    position: relative;

    img {
      display: block;
      filter: brightness(2) contrast(1.1) saturate(1.2);
      border-radius: 10px;
    }
  }
}
