.fitting-main {
  padding: 1rem;

  &__header {
    display: inline-flex;
    align-items: center;
    padding: 0.3rem 0.5rem;
    min-width: 320px;
    border-radius: 5px;
    @extend .gradient;
  }

  &__image {
    flex: 0 0 64px;
    margin-right: 16px;

    img {
      display: block;
      width: 64px;
      height: 64px;
      border-radius: 5px;
      box-shadow: 1px 1px 3px gray;
    }
  }

  &__title {
    font-weight: bold;
    margin: 0 0 0.3rem;
  }

  &__sections {
    display: flex;
    margin-top: 1rem;
    min-height: 75vh;
    overflow-x: auto;
  }

  &__modules {
    flex: 0 0 600px;
    @extend .gradient;
    border-radius: 5px;
  }

  &__slots {
    flex: 1 0 auto;
    min-width: 400px;
    margin: 0 1rem;
    padding: 0 1rem;
    @extend .gradient;
    border-radius: 5px;
  }

  &__stats {
    flex: 0 0 300px;
    padding: 0 1rem;
    @extend .gradient;
    border-radius: 5px;
  }
}
