.modules {
  $block: '.modules';
  display: flex;
  flex-wrap: wrap;
  transition: 0.5s linear all;
  user-select: none;
  font-size: 12px;

  &__groups {
    flex: 0 0 240px;
    padding: 0.3rem 0;
    max-height: 75vh;
    overflow-y: auto;
  }

  &__group-items {
    flex: 1 0 340px;
    padding: 0.3rem 0.5rem;
    overflow-y: auto;
    max-height: 75vh;
  }

  &__title {
    padding: 0 0.5rem;
  }

  &__expand-indicator {
    min-width: initial;
    margin-right: 6px;
    width: 16px;
    padding: 0 3px;
    text-align: center;
    border: 1px solid black;
    border-radius: 2px;
    background: #DDD;
    font-family: 'Consolas', monospace;
  }

  &__subgroup-section {
    display: none;

    &--expanded {
      display: block;
    }
  }

  &__subgroup {
    border-left: 1px solid #DDD;
    padding: 0 0 0 6px;
  }

  &__subgroup-title {
    cursor: pointer;
    display: inline-block;

    &:hover {
      text-decoration: underline;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    cursor: pointer;
    line-height: 1.3;
    padding: 0.3rem 0;

    &--hidden {
      display: none;
    }

    &:hover {
      box-shadow: 0 0 10px 0 #ddd;
      border-radius: 5px;
    }
  }

  &__item-image {
    width: 26px;
    margin: 3px 4px 3px 2px;
  }

  &__item-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__checkbox {
    display: inline-flex;
    flex: 0 0 100%;
    margin: 0.5rem 0.3rem;
    align-items: center;
  }
}
