.modules {
  li {
    margin: 0.2em 0;
  }

  $block: '.modules';
  display: flex;
  flex-wrap: wrap;
  transition: 0.5s linear all;
  user-select: none;
  font-size: 12px;

  &__groups {
    flex: 0 0 240px;
    padding: 0.3rem 0;
    //max-height: 75vh;
    //overflow-y: auto;
  }

  &__items {
    flex: 1 0 340px;
    padding: 0.3rem 0.5rem;
    overflow-y: auto;
    max-height: 75vh;
  }

  &__group {
    display: none;

    &--expanded {
      display: block;
      padding: 0 0 0 16px;
    }
  }

  &__group-title {
    cursor: pointer;
    display: inline-block;
    margin: 0;

    &:hover {
      text-decoration: underline;
    }
  }

  &__tooltip {
    width: 250px;
  }

  &__item {
    display: flex;
    align-items: center;
    cursor: pointer;
    line-height: 1.3;
    padding: 0.1rem 0;

    &--hidden {
      display: none;
    }

    &:hover {
      box-shadow: 0 0 10px 0 #ddd;
      border-radius: 5px;
    }
  }

  &__item-image {
    width: 32px;
    margin: 0 8px 0 2px;
  }

  &__item-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__filters {
    display: flex;
    justify-content: space-evenly;
    border-radius: 3px;
    overflow: hidden;
    margin: 0 0 1em;
  }

  &__checkbox {
    padding: 0.3em 0.7rem;
    background: black;
    color: white;
    text-align: center;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    border-radius: 5px;

    &--active {
      background: darkgreen;
      opacity: 1;
    }

    &:hover {
      text-decoration: underline;
    }

    [type="checkbox"] {
      display: none;
    }
  }

  &__dogma {
    display: inline-flex;
    align-items: center;
    font-size: 11px;
    min-width: 50px;
    margin: 0 5px;
    opacity: 0.9;

    &--overfit {
      color: darkred;
    }
  }
}
