.selection-screen {
  padding: 1rem;

  &__form {
    width: 240px;
  }

  &__name {
    font-size: 1.1rem;
    line-height: 1.1;
    margin: 0.3rem 0;
  }

  &__ships {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
  }

  &__ship {
    flex: 0 0 128px;
    box-shadow: 1px 1px 3px gray;
    border-radius: 5px;
    margin: 0 0.5rem 0.5rem;
    text-align: center;
    color: black;

    &:hover {
      box-shadow: 1px 1px 3px black;
    }
  }

  &__ship-image {
    width: 128px;
    img {
      display: block;
      height: 128px;
      border-radius: 5px 5px 0 0;
    }
  }
}
