.ship-view {
  padding: 1rem;
  &__header {
    display: flex;
    margin: 1rem 0 0;
  }

  &__ship-image {
    flex: 0 0 128px;
    margin-right: 1rem;
    img {
      display: block;
      border-radius: 5px;
      box-shadow: 1px 1px 3px gray;
    }
  }

  &__header-info {
    flex: 1 0 auto;
  }

  &__title {
    font-weight: bold;
    margin-bottom: 0.3rem;
  }

  &__description {
    max-width: 600px;
  }
}

.fitting {
  display: flex;
  margin-top: 1rem;
  overflow-x: auto;

  &__modules {
    flex: 0 0 400px;
  }

  &__module {
    &--main-group {
      margin: 0.6rem 0;
    }

    &--sub-group {
      margin: 0.3rem 0 0.3rem 0.8rem;
    }

    &--item {
      margin: 0.3rem 0 0.3rem 0.8rem;
      display: flex;
      align-items: center;
    }
  }

  &__module-image {
    width: 24px;
    margin: 4px 8px 2px 0;
  }

  &__slots {
    flex: 1 0 auto;
    min-width: 400px;
    margin: 0 2rem;
  }

  &__stats {
    flex: 0 0 300px;
  }

  &__title {
    margin: 1rem 0;
    &--small {
      margin-bottom: 0.3rem !important;
    }
  }

  &__subtitle {
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
  }

  &__attribute {
    position: relative;
    margin-left: 24px;
    margin-right: 16px;
    display: inline-block;
  }

  &__icon {
    position: absolute;
    height: 20px;
    width: 20px;
    left: -22px;
  }
}
