@import 'src/styles/mixins/typography';

.x4-efficiency {
  &__table-wrapper {
    overflow-x: scroll;
  }

  table {
    min-width: 800px !important;
    max-width: 800px;
  }

  label {
    font-size: 12px;
  }

  tr {
    th {
      cursor: pointer;
    }

    td {
      width: 80px;

      &:nth-of-type(2) {
        width: 140px;
      }

      &:first-of-type {
        width: 24px;
      }
    }
  }
}
