@import 'src/styles/mixins/typography';

.x4-efficiency {
  &__table-wrapper {
    overflow-x: auto;
    margin-top: 1rem;
  }

  &__inputs {
    margin: 0 1rem 1rem 0;

    .input-control {
      display: flex;
      align-items: center;

      input {
        width: 70px;
        margin-right: 4px;
      }

      &__text {
        order: 2;
      }
    }
  }

  .input-control__radio-text {
    text-transform: capitalize;
    display: inline-block;
    width: 55px;
  }

  table {
    width: 800px;
  }

  tr {
    th {
      cursor: pointer;
    }

    td {
      width: 80px;

      > * {
        margin: 0;
      }

      &:nth-of-type(2) {
        width: 190px;
      }

      &:first-of-type {
        width: 24px;
      }
    }
  }
}
