.cookies {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 500;
  background: rgba(black, 0.90);

  &__inner {
    background: white;
    padding: 1rem;
    width: 90%;
    max-width: 500px;
    margin: 20% auto 10%;
    border-radius: 5px;
  }

  &__buttons {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
  }
}
