@import 'src/styles/mixins/typography';

.x4-resources-table {
  &__wrapper {
    max-width: 870px;
    overflow: auto;
  }

  &__method {
    display: block;
    text-align: center;
  }

  &__controls {
    display: flex;
    justify-content: space-between;
  }

  table {
    margin: 0 0 1rem;
    width: 100%;
  }

  tr {
    th {
      cursor: pointer;
    }

    td {
      width: 40px;
      height: 32px;
      vertical-align: middle;

      &:nth-of-type(2) {
        width: 120px;
        font-size: 11px;
      }

      &:first-of-type {
        width: 200px;
      }

      &:last-of-type {
        width: 150px;
      }
    }

    .number {
      > span {
        border-bottom: 2px solid transparent;
        display: inline-block;
        padding: 2px;
        min-width: 24px;
        text-align: center;
      }
    }
  }
}
