@import 'src/styles/mixins/typography';

.x4-resources-table {
  &__wrapper {
    overflow-y: scroll;
    max-width: 850px;
  }

  &__method {
    display: block;
    text-align: center;
  }

  table {
    margin: 0 0 1em;
    width: 850px;
  }

  tr {
    th {
      cursor: pointer;
    }

    td {
      width: 40px;
      height: 32px;
      vertical-align: middle;

      &:nth-of-type(2) {
        width: 100px;
        font-size: 11px;
      }

      &:first-of-type {
        width: 200px;
      }

      &:last-of-type {
        width: 150px;
      }
    }

    .number {
      > span {
        border: 2px solid transparent;
        display: inline-block;
        padding: 2px;
        min-width: 24px;
        text-align: center;
        border-radius: 35%;
      }
    }
  }
}
