.loading-screen {
  font-size: large;
  padding: 2rem 1rem;
  animation: fadeInFromNone 1.2s ease-out;
  animation-iteration-count: infinite;
  font-weight: normal;
  background: #F5F5F5;
  border-radius: 10px;
}

@keyframes fadeInFromNone {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
