.tabs {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.tabs__header {
  position: relative;
  z-index: 5;
  flex: 0 0 100%;
  padding: 0.3rem 1rem;
  margin-top: 0.5rem;

  cursor: pointer;
  font-size: 110%;
  font-weight: bold;
  
  border: 1px solid gray;
  
  &:hover {
    color: rgba(black, 0.8);
    background-color: rgba(blue, 0.1);
  }

  &--active {
    background-color: white !important;
    border-top: 2px solid gray !important;
    border-left: 1px solid gray !important;
    border-right: 1px solid gray !important;
  }

  @include media-breakpoint-up(md) {
    order: 1;
    flex: 0 0 auto;
    margin-top: 0;
    text-align: center;

    border-top: 2px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-radius: 5px 5px 0 0;

    &:first-of-type {
      margin-left: 1rem;
    }
  }
}

.tabs__content {
  max-height: 0;
  overflow: hidden;
  width: 100%;
  &--active {
    max-height: 10000px;
    transition: max-height 1.5s ease-in-out;
    position: relative;
    top: -1px;
    border-top: 1px solid gray;
    flex: 0 0 100%;
    @include media-breakpoint-up(md) {
      order: 2;
    }
  }
}
