a {
  text-decoration: none;
}

button:focus {
  outline: 0;
}

.btn {
  box-sizing: border-box;
  margin: 0;
  padding: 0.5em 0.75em;
  min-width: 100px;
  cursor: pointer;
  text-decoration: none;
  transition: background 0.2s linear;
  display: inline-block;
  border-radius: 8px;
  font-size: 0.8rem;

  &--cta {
    color: white;
    background: #000051;
    border: 1px solid transparent;
  }

  &--secondary {
    color: white;
    background-color: #666;
    border: 1px solid transparent;
  }

  &--seperated {
    margin-bottom: 1rem;
  }

  &--small {
    padding: 0 0.3rem;
    margin-left: 0.3rem;
    min-width: inherit;
  }

  &--inline {
    margin-right: 1rem;
  }

  &--center {
    margin: 0 auto;
    display: block;
  }
}

.link {
  border: none;
  background: none;
  outline: none;
  text-decoration: none;
  color: #1957d8;

  &:link, &:visited, &:hover, &:active {
    color: #1957d8;
  }

  &:hover {
    text-decoration: underline;
  }

  &--active {
    font-weight: bold;
  }

  &--secondary {
    color: #999;
    text-decoration: underline;

    &:hover {
      color: #444;
      text-decoration: none;
    }
  }
}
