.dark-mode {
  background: #0e1116;
  color: #cad1d8;

  .btn {
    &--cta {
      color: white;
      background: #000051;
    }

    &--secondary {
      color: white;
      background-color: #666;
      border: 2px solid #000051;
    }
  }


  .link {
    &:link, &:visited, &:hover, &:active {
      color: #69a7f8;
    }

    &--active {
      font-weight: bold;
    }

    &--secondary {
      color: #999;
      text-decoration: underline;

      &:hover {
        color: #444;
        text-decoration: none;
      }
    }
  }

  .cookies__inner {
    background: white;
  }

  .home {
    &__link {
      color: #cad1d8;

      &:hover {
        background: rgba(gray, 0.1);
      }
    }

    &__title {
      border-bottom: 1px solid #cad1d8;;
    }
  }

  table {
    background-color: #121212;

    thead {
      tr {
        background-color: rgba(200, 200, 200, 0.4);
      }
    }

    tbody {
      tr {
        background-color: #121212;

        &:nth-of-type(even) {
          background-color: #323232;
        }

        &:hover {
          background: #727272;
        }
      }
    }
  }

  .overview {
    &__header {
      color: #cad1d8;
    }
    &__title {
      color: #cad1d8;
    }
    p, li {
      color: #cad1d8;
    }
  }

  .ul--packed li {
    color: #cad1d8;
  }

  .enemies {
    background: linear-gradient(to bottom left, #000 0%, rgba(204, 204, 204, 0.1) 50%, #000 100%);;
  }
}
