$form-padding: 0.5rem 1rem;

.form {
  $block: '.form';
  display: block;
  width: 100%;
  text-align: center;
}

.label--checkbox {
  input {
    position: relative;
    top: 2px;
    margin: 0 0.2rem 0 0;
  }
}
