$form-padding: 0.5rem 1rem;

.form {
  $block: '.form';
  display: block;
  width: 100%;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 0.3rem;

  input[type=radio], input[type=checkbox] {
    height: 10px;
  }

  input[type=text] {
    margin: 0 0 0 0.2rem;
  }

  input[type=number] {
    font-size: 12px;
    height: 16px;
    width: 60px;
    text-align: right;
  }

  input[type=radio] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;

    transition: 0.1s all linear;

    border-radius: 50%;
    width: 8px;
    height: 8px;

    border: 1px solid #999;
    margin: 0 3px 0 0;

    position: relative;
    top: 0px;

    &:checked {
      background: #0067f8;
    }
  }
}

.label {
  &--row {
    display: inline-block;
    margin: 0 0.6rem;
  }

  &--small {
    width: 70px;
  }

  &--medium {
    width: 110px;
  }
}
