html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  position: relative;
  background: lightgrey;
  margin: 0 auto;
}

.page-content-header {
  position: relative;
  z-index: 10;
}

.page-content-main {
  display: block;
  position: relative;
  min-height: calc(100vh - calc(#{$navbar-height} + #{$footer-height}));
  background: white;
  padding: 1rem 1.3rem;
}

.page-content-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: $footer-height;
  font-size: 10px;
  text-align: center;
  background-color: black;
  color: white;
}

.long-text {
  max-width: 750px;
}

.gradient {
  background: linear-gradient(to bottom left, #fff 0%, rgba(#CCCCCC, 0.1) 50%, #fff 100%);
  border: 1px solid #ddd;
}

.gradient--pure {
  background: linear-gradient(to bottom left, #fff 0%, rgba(#CCCCCC, 0.1) 50%, #fff 100%);
}

.ul--packed {
  margin-bottom: 0.3rem;
  margin-left: 1.5rem;

  li {
    color: black;
    margin: 0.1rem 0;
    list-style: disc;
  }
}

.ul--links {
  margin-bottom: 0.3rem;
  margin-left: 0.5rem;

  li {
    color: black;
    margin: 0.2rem 0;
  }
}

.spacer {
  width: 100%;
  flex: 0 0 100%;
  border: none;
  padding: 1rem;
}

.divider {
  flex: 0 1 100%;
  margin: 0 2rem 1rem;
  background: #eee;
  height: 2px;

  &--tm {
    margin: 1rem;
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
}
