table {
  width: 100%;
  background-color: var(--color-table-background);
  border-radius: 5px;
  overflow: hidden;

  td, th {
    padding: 0.3rem;

    &.number {
      text-align: right;
    }

    &.center {
      text-align: center;
    }
  }

  thead {
    tr {
      background-color: var(--color-table-background-hover);
    }

    th {
      text-align: left;
      font-weight: bold;
    }
  }

  tbody {
    tr {
      background-color: var(--color-table-background);

      &:hover {
        background: var(--color-table-background-hover);
      }

      &:nth-of-type(even) {
        background-color: var(--color-table-background-alternate);

        &:hover {
          background: var(--color-table-background-hover);
        }
      }
    }

    td {
      vertical-align: top;
    }
  }
}
