body {
  font-size: $font-size-base;
  -webkit-font-smoothing: antialiased;
  font-family: 'Times New Roman', Segoe UI, system-ui, 'Helvetica', 'Arial', sans-serif;
  line-height: $base-line-height;
}

h1, h2, h3, h4, h5, h6 {
  flex: 0 0 100%;
}

ul {
  margin: 0;
}

p, li {
  margin: 0.3rem 0;
  line-height: $base-line-height;
}

span, a {
  line-height: $base-line-height;
}

h1 {
  font-size: 2em;
  line-height: 1.1em;
  font-weight: bold;
  margin: 0.7em 0;
}

h2 {
  font-size: 2em;
  line-height: 1.1em;
  margin: 0.7em 0;
}

h3 {
  font-size: 1.5em;
  line-height: 1.1em;
  font-weight: bold;
  margin: 0.7em 0;
}

h4 {
  font-size: 1.3em;
  line-height: 1.1em;
  margin: 0.7em 0;
}

h5 {
  font-size: 1.2em;
  line-height: 1.1em;
  font-weight: bold;
  margin: 0.5em 0;
}

h6 {
  font-size: 1.1em;
  line-height: 1.1em;
  margin: 0.5em 0;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.muted {
  color: #999;
}

.small {
  font-size: 85%;
}

.disclaimer {
  @extend .muted;
  @extend .small;
}

%ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

strong {
  font-weight: bold;
}

.capitalize {
  text-transform: capitalize;
}

.monospace {
  font-family: monospace;
}

code {
  background: #ddd;
  padding: 0 3px;
  border-radius: 3px;
  font-family: monospace;
}
