$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        eve-md: 610px,
        eve-lg: 1210px
) !default;

$base-max-width: 1440px;
$footer-height: 2rem;
$navbar-height: 3rem;
$font-size-base: 14px;
$font-size-small: 11px;
$base-line-height: 1.4;
