.arcs {
  padding: 1rem;
  &__item {
    margin-bottom: 1rem;
    padding: 1rem 0;
    background: linear-gradient(to right, #fff 0%, #f0f0f3 50%, #fff 100%);
  }
  &__header-link {
    display: flex;
    align-items: center;
    margin-bottom: 0.3rem;
    color: black !important;
  }
  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  &__faction-logo {
    flex: 0 0 48px;
    img {
      display: block;
    }
  }
  &__description {
    max-width: 800px;
  }
  &__title {
    padding-left: 1rem;
    flex: 0 1 auto;
    margin: 0;
  }
  &__rewards {
    margin-bottom: 0.7rem;
  }
  &__info-segment {
    display: flex;
    margin-bottom: 0.3rem;
    &--margin {
      margin-bottom: 1rem;
    }
  }
  &__info {
    flex: 1 1 auto;
  }
  &__subtitle {
    margin: 0 0 1rem;
  }
  &__info-label {
    flex: 0 0 5rem;
    &--bold {
      font-weight: bold;
    }
    &--mission {
      flex: 0 0 6rem;
    }
  }
}

.mission {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &__column {
    flex: 0 0 100%;
    @include media-breakpoint-up(md) {
      flex: 0 0 48%;
    }
  }
  &__selector {
    border: none;
    font-size: 15px;
    background: rgba(#663, 0.1);
    border-radius: 0;
    outline: none;
    cursor: pointer;
    position: relative;
    top: -1px;
    width: 100%;
    &:hover {
      background: rgba(#88A, 0.1);
    }
  }
  &__pocket {
    background: linear-gradient(to top left, #eee 0%, #dddfdf 100%);
    padding: 1rem;
    margin-bottom: 0.5rem;
  }
  &__pocket-title {
    font-weight: bold;
    margin-bottom: 0;
  }
  &__wave {
    padding-left: 1rem;
    margin: 0.4rem 0 0.7rem;
  }
  &__wave-title {
    margin: 0;
  }
  &__secondary-info {
    color: darkred;
    font-size: 12px;
    padding-bottom: 0;
    margin-bottom: 0;
    &--padded {
      margin-left: 12px;
    }
  }
  &__row {
    display: flex;
    justify-content: space-between;
  }
  &__count {
    flex: 0 0 1.5rem;
    margin-right: 4px;
    text-align: right;
  }
  &__enemies {
    flex: 1 1 auto;
  }
  &__control {
    @extend .btn;
    @extend .press-black;
    @extend .press-sm;
    @extend .press-ghost;
    min-width: auto;
    margin-right: 5px;
    padding: 1px 7px;
    border-width: 1px;
  }
}
