@mixin racial-colors {
  &--grineer {
    background: #CC0000;
  }
  &--infestation {
    background: #006600;
  }
  &--corpus {
    background: #000099;
  }
}

.warframe {
  &__columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__column {
    @include flex-grid(100%, 45%, 45%);
    margin: 0.7rem 0;
  }

  &__seperator {
    background: linear-gradient(to right, #FFFFFF 0%, #F0F0F3 50%, #FFFFFF 100%);
    margin: 1rem 0 0;
    padding: 1rem 0;
  }

  &__alert {
    margin: 0 0 1.5rem;
  }

  &__fissures {
    margin: 0 0 2rem;
  }

  &__fissure {
    margin: 0 0 0.5rem;
  }

  &__sortie-mission {
    margin-top: 1rem;
    flex: 0 0 100%;
    @include media-breakpoint-up(md) {
      flex: 0 0 30%;
    }
  }

  &__header {
    font-size: large;
    margin-bottom: 0.3rem;
    &:first-letter {
      text-transform: capitalize;
    }
    &--small {
      margin-bottom: 0;
    }
  }

  &__small {
    margin-bottom: 0.1rem;
  }

  &__reward {
    list-style-type: disc;
    margin-left: 1.3rem;
  }

  &__invasion-planet {
    margin: 0 0 2rem;
    max-width: 400px;
  }

  &__invasion-parties {
    display: flex;
    justify-content: space-between;
  }

  &__invasion-party {
    min-width: 70px;
    max-width: 48%;
    &--attacker {
      align-self: flex-end;
    }
    &--defender {
      text-align: right;
      align-self: flex-end;
    }
    &--defender-rewards {
      text-align: right;
    }
    &--planet {
      font-size: 16px;
      font-weight: bold;
      text-align: center;
    }
  }

  &__invasion-total {
    height: 10px;
    border: 1px solid black;
    position: relative;
    background: rgba(gray, 0.1);
    margin-bottom: 0.2rem;
    @include racial-colors;
  }

  &__invasion-current {
    height: 10px;
    border: 1px solid black;
    position: absolute;
    display: inline-block;
    left: 0;
    transform: translate(-1px, -1px);
    @include racial-colors;
  }

  &__invasion-zero {
    position: absolute;
    width: 2px;
    background: white;
    height: 5px;
    transform: translate(-50%, 2px);
    left: 50%;
  }

  &__icons {
    padding-left: 1.1rem;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: -0.1rem 0;
    &--day {
      background-image: url("/images/day.svg");
    }
    &--night {
      background-image: url("/images/night.svg");
    }
  }

  &__planets {
    @include make-flex();
    justify-content: flex-start;
  }

  &__planet-name {
    margin: 0.3rem 0;
  }

  &__planet {
    flex: 0 0 180px;
    padding: 0 1rem 2rem 0;
  }

  &__resource {
    display: flex;
    align-items: center;
    img {
      width: 24px;
      height: 24px;
      margin-right: 0.3rem;
      display: inline-block;
    }
  }
}
