body {
  font-family: 'Lato', 'Helvetica','Verdana','Arial' sans-serif;
  font-size: 14px;
  line-height: 1.4;
}

h1, h2 {
  font-size: 200%;
  font-weight: bold;
  margin: .5rem 0 1.5rem;
  flex: 0 0 100%;
}

h3 {
  font-size: 150%;
  font-weight: bold;
  margin: .5rem 0 1.5rem;
  flex: 0 0 100%;
}

h4 {
  font-size: 120%;
  font-weight: bold;
  margin: .5rem 0 1rem;
  flex: 0 0 100%;
}

h5 {
  font-size: 120%;
  margin: .5rem 0 1rem;
  flex: 0 0 100%;
}

h6 {
  margin: .5rem 0 .5rem;
  flex: 0 0 100%;
}

p {
  margin-bottom: 0.3rem;
}

.bold {
  font-weight: bold;
}

.muted {
  color: #999;
}

.small {
  font-size: 85%;
}

.disclaimer {
  @extend .muted;
  @extend .small;
}

%ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.a:link    { color: #00c }  /* unvisited links */
.a:visited { color: #00c }  /* visited links   */
.a:hover   { color: #06e }  /* user hovers     */
.a:active  { color: #00c }  /* active links    */
