.x4 {
  &__map {
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  &__map-wrapper {
    overflow: hidden;
    background: #111115;
    cursor: grab;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: calc(100vh - 110px);
    margin-bottom: -3rem;
  }

  &__map-controls {
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    z-index: 1;
    top: 2.6rem;
    color: white;

    .link, > span {
      color: white !important;
    }
  }

  &__map-filters {
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 0.2rem 0 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: var(--color-content-background);
  }

  &__legend {
    font-size: 12px;
    position: absolute;
    color: white;
    right: 10px;
    top: 80px;
    width: 230px;
    padding: 5px;
    z-index: 1000;
    background: rgba(#051238, 0.9);

    .x4__resources {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      color: black;

      > p {
        flex: 0 0 30%;
        text-align: center;
        padding: 3px;
        border-radius: 3px;
        line-height: 0.8;
        margin: 3px;
      }
    }
  }
}
