.cookies {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: #AAA;
  padding: 1rem;
  &--visible {
    display: block;
  }

  &__agree {
    float: right;
  }

  &__disable {

  }

  &__buttons {
    padding: 1rem 2rem 0;
  }
}
