@import '../../../styles/variables';
@import '../../../styles/mixins/breakpoints';

.ea-overview {
  &__item {
    display: block;
    margin: 2rem 0 0.5rem 0;
    padding: 0.3rem;

    &:hover {
      background: var(--color-content-background-hover);
      border-radius: 0.5rem;
    }
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0.3rem;
  }

  &__logo {
    flex: 0 0 48px;
    margin-right: 1rem;

    img {
      background: var(--color-black);
      border-radius: 3px;
      display: block;
    }
  }

  &__tagline {
    flex: 0 1 auto;
  }

  &__title {
    display: inline-block;
    margin: 0 0;
    border-bottom: 1px solid var(--color-text);
  }
}
