.home {
  &__links {
    display: flex;
    flex-wrap: wrap;
  }

  &__link-wrapper {
    @include flex-grid(100%, 50%, 33%);
    padding: 1rem;
    cursor: pointer;
    display: flex;
  }

  &__link {
    flex: 0 0 100%;
    display: flex;
    align-items: center;
    padding-bottom: 1.5rem;
    box-shadow: #0d0d0d 1px 1px 2px 1px;
    &:hover {
      background: rgba(gray, 0.2);
    }
  }

  &__link-label {
    padding-right: 1rem;
  }

  &__img {
    @include flex-grid(100px, 120px, 120px);
    margin: 0 1rem 0 0;
    padding: 0.5rem;
    img {
      display: block;
    }
    &--black {
      background: black;
    }
  }
}
