.home {
  padding-top: 2rem;
  &__links {
    display: flex;
    flex-wrap: wrap;
  }

  &__link-wrapper {
    flex: 0 0 100%;
    @include flex-grid(50%, 50%, 25%);
    cursor: pointer;
    display: flex;
    background: linear-gradient(to bottom right, #f0f0f3 0%, #fff 100%);
  }

  &__link {
    padding: 1rem;
    color: black !important;
    display: block;
    width: 100%;
    &:hover {
      background: rgba(gray, 0.2);
    }
  }

  &__link-label {
    font-weight: bold;
  }
  
  &__img {
    margin-bottom: 0.5rem;
    img {
      display: block;
    }
    &--black {
      background: black;
    }
  }
}
