.arcs {
  padding: 1rem;

  &--overview {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    margin-bottom: 1rem;
    padding: 1rem;
    @extend .gradient;
    border-radius: 4px;

    &--overview {
      flex-basis: 100%;
      color: black !important;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  &__faction-logo {
    flex: 0 0 48px;
    height: 48px;

    img {
      display: block;
    }
  }

  &__description {
    margin-top: 0.7rem;
    @extend .long-text;
  }

  &__title {
    padding-left: 1rem;
    flex: 0 1 auto;
    margin: 0;
    @extend h3;
  }

  &__list {
    margin: 0 0 0.7rem;
    @extend .long-text;
  }

  &__list-label {
    font-weight: bold;
    margin-bottom: 0.3rem;
  }

  &__list-values {
    margin: 0 0 0 0.3rem;
  }

  &__list-value {
    list-style: disc;
    margin: 0 0 0.1rem 1rem;
  }

  @include media-breakpoint-up(lg) {
    &__item {
      &--overview {
        flex-basis: calc(50% - 0.5rem);
      }
    }
  }
}

.missions {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  &__list {
    margin-bottom: 1rem;
    padding: 1rem;
    @extend .gradient;
    border-radius: 4px;
    flex: 0 0 100%;
  }

  &__info {
    margin-bottom: 1rem;
    padding: 1rem;
    @extend .gradient;
    border-radius: 4px;
    flex: 0 0 100%;
  }

  &__enemies {
    margin-bottom: 1rem;
    flex: 0 0 100%;
  }

  &__pocket {
    margin-bottom: 1rem;
    padding: 1rem;
    @extend .gradient;
    border-radius: 4px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__wave {
    margin: 0.5rem 0 1rem;

    &:last-of-type {
      margin: 0.5rem 0;
    }
  }

  &__wave-title {
    margin-bottom: 0.4rem
  }

  &__wave-enemies {
    margin: 0.3rem 0 0.3rem 0.6rem;
  }

  &__enemy {
    margin: 0 0 0.3rem;
  }

  &__enemy-effect {
    color: darkred;
    font-size: 12px;
    padding: 0 0 0 25px;
  }

  &__enemy-count {
    display: inline-block;
    margin-right: 4px;
    width: 21px;
    text-align: right;
  }

  &__list-item {
    margin-bottom: 0.3rem;
    cursor: pointer;
  }

  &__title {
    font-weight: bold;
  }

  @include media-breakpoint-up(lg) {
    flex-wrap: nowrap;

    &__list {
      flex: 0 0 300px;
    }

    &__info {
      flex: 0 0 40%;
      margin: 0 1rem 1rem;
    }

    &__enemies {
      flex: 1 1 auto;
    }
  }
}
