.epic-arcs {
  padding: 1rem;

  .small {
    font-size: 90%;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1rem 0;
  }

  &__block {
    margin: 1em 0;
  }

  &__list-item {
    display: block;
    @extend .gradient;
    padding: 1rem;
    margin: 0 0 1rem;
    border-radius: 4px;
    flex: 0 0 100%;
    color: black !important;
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%;
  }

  &__header-logo {
    flex: 0 0 48px;
    height: 48px;
    margin: 0 0.5rem 0 0;
  }

  &__header-text {
    flex: 0 1 auto;
  }

  &__header-title {
    @extend h5;
  }

  @include media-breakpoint-up(lg) {
    &__list-item {
      flex: 0 0 calc(50% - 0.5rem);
    }
  }
}

.missions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1em 0;

  &__enemies {
    display: flex;
    margin: 1.2em 0 1.2em 0;
    border: 1px solid #ddd;
    border-radius: 10px;
    align-items: center;
    @extend .gradient;
  }

  &__quantity {
    border-right: 1px solid #ddd;
    padding: 5px;
    margin-right: 5px;
    min-width: 26px;
    text-align: center;
  }

  &__ship {
    flex: 0 1 auto;
    padding: 5px;
  }

  &__type {
    margin: 0;
  }

  &__wave {
    margin: 2em 0 2em 8px;

    &:first-of-type {
      margin-top: 1em;
    }
  }

  &__effects {
    flex: 2 0 auto;
    margin-left: 8px;
    height: 32px;
    line-height: 1;
    text-align: right;
  }

  &__effect {
    display: inline-block;
    height: 28px;
    width: 28px;
    margin-top: 2px;

    &:first-of-type {
      padding-left: 5px;
      width: 33px;
      margin-right: 5px;
      border-left: 1px solid #ddd;
    }
  }

  &__header {
    margin: 0 0 1rem;
  }

  &__title {
    @extend h3;
    margin: 0;
    line-height: 1;
  }

  &__spacer {
    margin-bottom: 1rem;
  }

  &__selector {
    display: block;
    margin: 0 1rem 1rem 0;
    border-radius: 4px;
    flex: 0 0 100%;
  }

  &__main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 0 0 100%;
  }

  &__icon {
    height: 28px;
    width: 28px;
    position: absolute;
    max-height: initial;
    transform: translate(0.2rem, -8px);
  }

  &__notice {
    font-size: 11px;
    font-weight: bold;
    margin: 0;
  }

  &__selector-item {
    @extend .link;

    &--active {
      font-weight: bold;
    }
  }

  &__info {
    flex: 0 0 100%;
  }

  &__pockets {
    flex: 0 0 100%;
    margin: 1rem 0 0;
  }

  &__pocket {
    margin: 0 0 3em;
  }

  @include media-breakpoint-up(md) {
    &__selector {
      flex: 0 0 360px;
      padding: 0 1rem;
    }
    &__main {
      flex: 0 1 calc(100% - 1rem - 360px);
    }
  }

  @include media-breakpoint-up(lg) {
    &__info, &__pockets {
      flex: 0 0 calc(50% - 0.5rem);
      margin: 0;
    }
  }
}

.enemy-damage-profile {
  margin: 0.3rem 1rem 0 0;
  padding: 0.1rem 0.2rem;
  @extend .gradient;
  border-radius: 5px;
  display: inline-block;

  &:first-of-type {
    margin: 0 1rem 0 0;
  }

  & p:first-of-type {
    margin: 0.7em 0;
    font-weight: bold;
  }

  &__icon {
    position: absolute;
    height: 20px;
    width: 20px;
    max-height: initial;
    border-radius: 3px;
    transform: translate(-24px, -5px);
  }

  &__item {
    position: relative;
    margin: 0 5px;
    padding-left: 26px;
  }

  &__label {
    display: inline-block;
    width: 100px;
  }

  &__damage {
    display: inline-block;
    width: 45px;
  }
}

.effect {
  position: relative;
  margin: 0 5px;
  padding-left: 20px;

  &__icon {
    position: absolute;
    height: 20px;
    width: 20px;
    max-height: initial;
    border-radius: 3px;
    transform: translate(-16px, -5px);
  }
}
