.x4-modifications {
  &__types {
    // padding-left: 1rem;
  }

  &__mods {
    // margin: 0 0 1rem 0;
    display: flex;
    flex-wrap: wrap;
  }

  &__mod {
    margin: 0.5rem 0 0.5rem 1rem;
    background: rgba(gray, 0.05);
    border-radius: 8px;
    padding: 0 1rem 1rem;
    flex: 0 1 800px;
  }

  &__mats {
    display: inline-block;
    width: 250px;
  }

  &__bonus {
    margin: 1rem 0;
  }

  &__bonus-item {
    display: inline-block;
    width: 250px;
    margin-bottom: 0.5rem;
  }
}
