.x4-modifications {
  &__types {
    padding-left: 1rem;
  }

  &__mods {
    padding-left: 1.5rem;
    margin: 0 0 1.5rem 0;
  }

  &__mod {
    margin-bottom: 1rem;
  }

  &__label {
    display: inline-block;
    width: 210px;
    text-align: left;
    padding-left: 0.5rem;
    text-transform: capitalize;
  }

  &__values {
    display: inline-block;
    width: 120px;
    text-align: right;
  }

  &__mats {
    padding-left: 0.5rem;
  }

  &__bonus {
    padding-left: 0.5rem;
  }
}
