@import "../common";

@mixin eve-racial-gradient($color) {
  background: linear-gradient(to top right, #fff -20%, rgba($color, 0.5) 160%);
}

.efs {
  font-size: small;
  line-height: 1.25;
  @include make-flex;
  justify-content: initial;

  &__selector {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    flex: 0 0 100%;
  }
  
  &__header {
    flex-wrap: nowrap !important;
  }

  &__ship {
    width: 300px;
    margin: 0.3rem;
    border-radius: 2px;
    &--amarr {
      @include eve-racial-gradient(#7D622E);
    }
    &--caldari {
      @include eve-racial-gradient(#41566A);
    }
    &--gallente {
     @include eve-racial-gradient(#336356);
    }
    &--minmatar {
     @include eve-racial-gradient(#644636);
    }
    &--jove {
     @include eve-racial-gradient(#644636);
    }
    &--pirate {
     @include eve-racial-gradient(#7D622E);
    }
    &--ore {
     @include eve-racial-gradient(#726E16);
    }
    &--concord {
     @include eve-racial-gradient(#AAAAAA);
    }
  }

  &__ship-inner {
    padding: 0.3rem 0.5rem;
  }

  &__ship-name {
    margin: 0;
    font-size: larger;
    @extend .bold;
  }

  &__columns {
    @include make-flex();
  }

  &__column {
    flex: 0 0 48%;
    &--label {
      flex: 0 1 auto;
    }
    &--value {
      flex: 1 0 auto;
    }
    &:nth-of-type(even) {
      text-align: right;
    }
  }

  &__ship-preview {
    flex: 0 0 74px;
    img {
      width: 64px;
    }
  }

  &__ship-info {
    flex: 1 0 auto;
    text-align: left !important;
    p {
      font-size: 14px;
      margin: 0.2rem 0;
    }
  }
  
  &__stat-section {
    margin: 0.5rem 0 0;
  }

  &__traits {
    margin: 0.1rem 0 0;
  }

  &__trait {
    margin: 0 0 0 0.5rem;
  }
}
