$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  eve-md: 610px,
  eve-lg: 1210px
) !default;

$base-max-width: 1440px;
$base-background: white;
$footer-height: 2rem;
$navbar-height: 3rem;

@import "_styles/reset";

@import "_styles/mixins/breakpoints";
@import "_styles/mixins/grid";

@import "_styles/layout";
@import "_styles/ui-messages";
@import "_styles/typography";
@import "_styles/buttons-links";
@import "_styles/forms";

@import "components/navigation";
@import "components/cookies";
@import "components/time";
@import "components/tabs";
@import "components/loading-sceen";

@import "components/home";
@import "containers/eve-fitting-tool/shared";
@import "containers/eve-fitting-tool/selection-screen";
@import "containers/eve-fitting-tool/ship-view";

@import "containers/legacy/Efs/Ships/ships";
@import "containers/legacy/EpicArcs/epicArcs";
@import "containers/legacy/Incursions/incursions";
@import "containers/legacy/Warframe/warframe";
