%tank-strenght {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  content: ' ';
}

.tank {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  &__value {
    position: relative;
    z-index: 5;
  }

  &__item {
    flex: 0 0 23%;
    text-align: center;
    color: white;
    font-size: 10px;
    padding: 1px 0;
    position: relative;

    &--em {
      background: #253642;
    }
    &--thermal {
      background: #442929;
    }
    &--kinetic {
      background: #442929;
    }
    &--explosive {
      background: #443A29;
    }
  }

  &__strength {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    &--em {
      background: #187CBC;
    }
    &--thermal {
      background: #BD1E19;
    }
    &--kinetic {
      background: #787878;
    }
    &--explosive {
      background: #BB7C0D;
    }
  }
}
