body {
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  line-height: 1.2;
}

p {
  margin-bottom: 0.4rem;
}

h1, h2, h3, h4, h5, h6 {
  flex: 0 0 100%;
}

h1 {
  font-size: 2rem;
  line-height: 2.1rem;
  margin: 1rem 0 1.5rem;
}

h2 {
  font-size: 2rem;
  line-height: 2.1rem;
  margin: 1rem 0 1.5rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.6rem;
  margin: 1rem 0;
}

h4 {
  font-size: 1.3rem;
  line-height: 1.4rem;
  margin: 0.7rem 0;
}

h5 {
  font-size: 1.2rem;
  line-height: 1.3rem;
  margin: 0.5rem 0;
}

h6 {
  font-size: 1.1rem;
  line-height: 1.2rem;
  margin: 0.5rem 0;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.muted {
  color: #999;
}

.small {
  font-size: 85%;
}

.disclaimer {
  @extend .muted;
  @extend .small;
}

%ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
